
@viewport {
  width: device-width;
  zoom: 1.0 ;
}


 body {
  background:rgb(37, 38, 48);
  color: lightgrey;
  text-decoration: none;
  margin-bottom: 20%;
  width: 100vw;
  overflow-x:hidden;
}


  .main-navigation {
    background: #151718;
    display: block;
    position: fixed;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 15vw;;
    height: 100%;
    z-index: 11;
    }

  .main-navigation ul {
    list-style: none;
    text-align: center;
    padding: 2px;
    margin-top: 20vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
  }

  .main-navigation ul li {
    font-size: 18px;
    line-height: 40px;
    margin: 10px;
    height: 40px;
    border-bottom: 2px solid lightgray;
    font-family: sans-serif;
  }

  .social-media {
    display: inline-block;
    list-style: none;
    padding: 2px;
  }

  .main-navigation a {
    text-decoration: none;
    color: grey;
    display: block;
    transition: .3s
  }

  .main-navigation a:hover {
    background-color: rgb(44, 45, 56);}

  .main-navigation a.active {
    background-color: black;
    color: white;
    cursor: default;
  }

  .menu-icon{
    visibility: hidden;
  }

  .img {
  max-width:100%;
  }

  .main {
    position: relative;
    left: 10%;
    margin-left: 5;
    margin-right: 20%;
    margin-top: 10px;
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-align: left;
    height: 100%;
    }

 .footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: darkcyan;
  color: black;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
   }


 a {
  text-decoration: none;
  color: cyan;
    }
.footer a{
  color: black;}

.footer li{
    text-align: center;
    display: inline-block;
    font: bold;
    font-size: 18px;
    word-spacing: 20px;
  }

.top-image {
  position: relative;
  top: -10px;
  right:0px;
  left:-30px;
  height: 300px;
  width: 150%;
  overflow:hidden;
  margin: 0;
  border: 20px solid #151718;
}

.title{
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font: verdana;
  font-size: 30px;
  text-decoration: bold;
  text-align: center;
  margin: 2em auto;
}

.header3 {
 color: cyan;
  }

.h2{
  text-decoration:none;
  color: darkcyan;
  background-color: black;
  opacity: 0.5;
  width: 100%;
  text-align: center;
  display: block;
  position: relative;
  margin-top: 50px;
}

.rowimg1 {
  float: right;
  width: 10%;
  padding: 0px;
  margin-right: 25%;
}

.row1of3 {
  float: left;
  width: 45%;
  padding-left: 5px;
  vertical-align: middle;
  margin-left: 125px;
}

.rowimg2 {
  float: left;
  padding-top: 30px;
  border: 0px;
  margin: 5px;
  margin-left: 125px;
}

.row2of3 {
  float: left;
  width: 50%;
  border: 0;
  padding-left:5px;
  margin: 0px;
  vertical-align: middle;
}

.row3of3 {
  float: bottom;
  margin: 20px;
  clear: left;
  padding-bottom: 50px;
  text-align: center;
  width: 100%;
  opacity: .3;
  color: white;}

.bloglist {
  list-style-type: none;
  }

.video-center {
  display: block;
  margin-bottom: 20px;
  width: 80%;
  height: 400px;
  margin-left: 150px;
}

.video-text {
  margin-left: 150px;
  width: 80%;}

.portfolio {
  position: relative;
  left: 200px;
  width: 80%;
}
.resume {
  background-color: black;
  border-color: silver;
  font-size: 1.0em;
  position: relative;

}

.slideshow {
  width: 800px;
  height: 430px;
  overflow:hidden;
  position:relative;
  margin: center;
  }

.slideshow img{
  position:absolute;
  animation:slideshow 40s infinite;
  opacity: 0;
  width: 95%;
  height: auto;
}
@keyframes slideshow {
  25%{opacity:1;} 40%{opacity:0;}
}
.slideshow img:nth-child(4){animation-delay:0s}
.slideshow img:nth-child(3){animation-delay:10s}
.slideshow img:nth-child(2){animation-delay:20s}
.slideshow img:nth-child(1){animation-delay:25s}

.address {
  font-size: 18px;
  text-align: center;
  margin: 3em auto;
 }

form {
  width: 50%;
  margin: 3em auto;
}

.label {
  display: block;
  font-weight: 700;
}

.form-input {
  border: 2px solid black;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 1em;
  margin-bottom: 1.5em;
  width: 100%;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-input:focus {
  outline: none;
  border: 2px solid #1565C0;
}

textarea {
  height: 150px;
  resize: vertical;
}

[type="submit"] {
  width: 100%;
  background: darkcyan;
  color: white;
  border-radius: 2px;
  border: 0;
  cursor: pointer;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: .5em;
}

[type="submit"]:hover {
  background: black;
}

.error {
  border-color: #C62828;
}

.error-message {
  margin-top: -1em;
  margin-bottom: 1em;
  color: #C62828;
}

/*MEDIA Query*/
@media only screen and (max-width: 640px) {
	.menu-icon {
  visibility: visible;
  display: block;
  position: absolute;
  }

  .top-image {
    position: relative;
    display: block;
    width: 150%;
    left: -100px;
    overflow-x: hidden;
  }

	nav ul, nav:active ul{
	Display: none;
	Position: absolute;
	Padding: 5px;
  border: 5px solid #444;
  background-color: black;
  top: 10px;
	width: 50%;
  font-size: 12px;
	border-radius: 4px 0 4px 4px;
	}

	nav li {
	text-align: center;
	width: 100%;
  	}

	nav:hover ul {
	Display: block;
  }

  .main-navigation {
    background: transparent;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 50%;
    height: 20vh;
    z-index: 11;
    }

  .main-navigation ul {
    list-style: none;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
  }

  .main-navigation ul li {
    font-size: 1.2em;
    line-height: 40px;
    margin: 10px;
    height: 40px;
    border-bottom: 2px solid lightgray;
    font-family: sans-serif;
  }

  .main-navigation a {
    text-decoration: none;
    color: grey;
    display: block;
    transition: .3s background-color;
  }

  .main-navigation a:hover {
    background-color: rgb(44, 45, 56);}

  .main-navigation a.active {
    background-color: black;
    color: white;
    cursor: default;
  }

  .rowimg1 {
    position: relative;
    left: -200px;
  }
  .row1of3 {
    width: 80%;
    position: relative;
    left: -100px;
  }

  .rowimg2 {
    position: relative;
    left: -100px;
    }

    .row2of3 {
      position: relative;
      width:80%;
      left: 20px;
    }

    .row3of3 {
      position: relative;
      left: -70px;
    }

    .video-center {
      position: relative;
      left: -100px;
      height: 50vw;
    }

    .video-text {
      position: relative;
      left: -135px;
      width: 78vw;
    }

    .portfolio {
      display: relative;
      left: 20px;
      width: 80vw;
    }
    .slideshow {
      display: relative;
      width: 80vw;
    }
